@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --content-padding: 2rem;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.img-wp{
    position: relative;
}
#bg-img{
    width: 500px;
    height: max(100vh,100%);
}
#logo-img{
    width: 100px;
    
}
#logo-name{
    color: #FFFFFF;
    font-size: 50px;
}
.logo-container{
    position: absolute;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 70%;
}
.content-container{
    
}
.main-container{
    display: flex;
}
.header-container{
    padding: var(--content-padding);
    color: black;
    font-size: 30px;
    font-weight: 550;
    background-color: #F9FAFB;
}
.form-container{
    background-color: #FFFFFF;
    padding:var(--content-padding);
    box-shadow: 0px -5px 20px -25px #ccc,
                0px 10px 30px -25px #ccc;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    
}
.form-container p{
    margin: 0px;
}
input[type="text"]{
    width: 250px;
    height: 20px;
}
label{
    display: block;
    font-size: 12px;
    font-weight: 500;
}
#form-user{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-container p{
    font-size: 25px;
    font-weight: 550;
}
.footer-container{
    padding: var(--content-padding);
    background-color: #FFFFFF;
}
.btn-form{
    appearance: none;
    
}


